module.exports = {
    cookieSecret: "change this",
    authProviders: {
        google: {
            clientId: "",
            email: "",
            secret: "",
            redirect: [
                'http://packagetracker.uberduck.net/auth/google/callback'
            ],
            origins: 'http://packagetracker.uberduck.net'
        }
    },
    "apiKeys": {
        "googleMaps": ""
    },
    shippingProviders: {
        ups: {
            environment: "live",
            access_key: "",
            account: "",
            username: "",
            password: ""
        },
        fedex: {
            environment: "live",
            debug: true,
            key: "",
            account_number: ,
            meter_number: ,
            password: "",
            imperial: true
        },
        usps: {
            username: "",
            password: "",
            debug: true,
            imperial: true
        }
    }
};

