<div class="row">
    <div class="col-md-12">
        <h1>About</h1>
        <p>
            PackageTracker is, as the name suggests, a service to track your in-transit packages.
            <a href="/user">Log in</a> with your Google account and start <a href="/packages">adding packages</a>.
        </p>
        <p>
            Current functionality is limited to keeping a list of packages, which will contain links to their individual
            tracking pages.  Only FedEx, UPS, and USPS are currently supported.
        </p>
        <p>
            PackageTracker is provided free of charge during the development period.  It is also provided free of
            warranty; if you use this for anything mission-critical, you're insane.  I would politely ask that you add
            as many packages as you can for testing purposes, but keep in mind that by doing so you're explicitly
            granting me permission to track your packages for the purposes of developing this application.  I'm going to
            look at your data, and I may even save it to a public code repository as a test fixture after anonymizing
            it.  I won't use it for anything other than developing this app, but package tracking numbers sometimes
            reveal the delivery address.  If you're not cool with that, maybe you should look elsewhere.
        </p>
        <p>
            Feedback may be sent to <a href="mailto:matthaeus.harris@gmail.com">matthaeus.harris@gmail.com</a>.
        </p>
    </div>
</div>