body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.lastUpdated {
    font-size: x-small;
    display: block;
}

.revision {
    display: block;
    margin-bottom: 10px;
}

.revision .byline {
    width: 100%;
    font-size: smaller;
}

.revision .date {

}

.revision .author {

}

.revision .subject {
    display: block;
}